﻿<div id="main">
    <div class="main-left">
        <div class="button-tranhtai">
            <a href="/thuthach.html">
                <img src="/images/home-tranhtai.png">
            </a>
        </div>
    </div>
    <div class="main-right">
        <div class="button-1">
            <a href="#video">CÁC KHÓA HỌC H.V.D.Y</a>
        </div>
        <div class="button-1">
            <a href="/tophocvien">TỐP HỌC VIÊN <br>XUẤT SẮC</a>
        </div>

        <div class="button-1">
            <a href="/giaithuong.html">THỂ LỆ<br> CHƯƠNG TRÌNH</a>
        </div>
        <div class="facebook">
            <a href="#">
                <img src="images/facebook.png">
            </a>
        </div>
    </div>
</div>
