﻿<div id="about">
    <div class="main-left-about">
        <div class="title">KHÓA HỌC TÌNH "YÊU"</div>
        <div class="view">
            <ul>
                <li>
                    <p><a href="#">Mắt Nai</a>
                    </p>
                </li>
                <li>
                    <p><a href="#">Đa Tình </a>
                    </p>
                </li>
                <li>
                    <p><a href="#">Kiêu Kỳ</a>
                    </p>
                </li>

            </ul>
        </div>
        <a href="#">
            <img class="buttom-video" src="/images/VIDEOS-button.png">
        </a>
    </div>
    <div class="main-right-111">
        <div class="menu">
            <ul>
                <li class="buttom-actives-111"><a href="#">Các Khóa Học <br> H.V.D.Y</a>
                </li>
                <li><a href="/tophocvien.html">Top Học Viện<br> Xuất Sắc</a>
                </li>
                <li class="bonus">
                    <img src="/images/bonus.png"><a href="/giaithuong.html">Giải <br> Thưởng</a>
                </li>
                <li><a href="#">Thể Lệ<br> Chương Trình</a>
                </li>
            </ul>
            <a href="#" class="share-face"></a>
        </div>

    </div>
</div>
