html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


@font-face {
 font-family: 'myriadproblack';
 src: url('fonts/ufonts.com_myriad-pro-black-condensed.eot'); /* EOT file for IE */
 src: local('myriadproblack'), url('fonts/ufonts.com_myriad-pro-black-condensed.ttf') format('truetype');
}
@font-face {
    font-family: 'myriadpro';
    src: url('fonts/myriadCondensed.eot');
    src: url('fonts/myriadCondensed.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadCondensed.woff') format('woff'),
         url('fonts/myriadCondensed.ttf') format('truetype'),
         url('fonts/myriadCondensed.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Start pages introl*/
#intro
{
width:810px;
height:650px;
margin:auto;
_background-color:#333;
background-image:url('images/introl.png');
background-repeat:no-repeat;
}
p.click-buttom 
{
_background-image: url('images/bottom-introl.png');
background-repeat: no-repeat;
height: 154px;
width: 219px;
margin: 0px 0px 0px 323px;
padding: 39px 0px 0px 0px;
}
p.click-buttom a img:hover
{
opacity:0.7;
}
/*End pages introl*/

/*Start pages home*/
#main
{
width:810px;
height:650px;
margin:auto;
_background-color:#333;
background-image:url('images/HOME.png');
background-repeat:no-repeat;
}
.main-right
{
width: 137px;
_background: #ccc;
float: right;
margin: 215px 0px 0px 0px;
}

.main-right-111
{
width: 137px;
_background: #ccc;
float: right;
margin: 164px 0px 0px 0px;
}
.main-left
{
width: 328px;
/* background: #ccc; */
float: left;
margin: 200px 0px 0px 318px;
}
.button-1
{
background-image: url('images/home-butom.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
}
.button-1:hover
{
background-image: url('images/ABOUT-hover.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
}
.button-1 a
{
color: #fff;
margin: 4px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'Myriad Pro';
font-size: 16px;
}
.button-tranhtai
{
width:327px;
height:104px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.button-tranhtai a img:hover
{
opacity:0.7;
}
.facebook
{
width:111px;
height:47px;
margin: 122px 0px 0px;
padding:0px 0px 0px 0px;
}
/*End pages home*/
#about
{
width:810px;
height:650px;
margin:auto;
_background-color:#333;
background-image:url('images/ABOUT.png');
background-repeat:no-repeat;
}
.button-gt
{
_background-image: url('images/ABOUTgt.png');
width: 159px;
height: 85px;
background-repeat: no-repeat;
padding: 0px 0px 0px 1px;
text-align: center;
margin: -6px 0px 14px -23px;
}
.facebook-about
{
width: 111px;
height: 47px;
margin: 28px 0px 0px;
padding: 0px 0px 0px 0px;
}

/*tab*/
/* Tab Content - menucool.com */

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}

.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}


.widget {
position: relative;
margin: 6px auto;
width: 602px;
/* background: white; */
/* border: 1px solid #ccc; */
/* border-radius: 4px; */
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
/* margin: 0px -5px 0px 0px; */
}

.widget-tabs {
position: absolute;
top: 0;
left: 0;
right: 0;
padding: 9px 0px 0px 0px;
text-align: left;
  /* Make the last tab in the DOM the left-most tab on the screen.
     That way we can activate it by default and still be able to
     deactivate it later using the ~ selector. */
  _direction: rtl;
  _background: #f5f5f5;
  _border-bottom: 1px solid #ddd;
  _border-radius: 3px 3px 0 0;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  line-height: 36px;
  font-weight: normal;
  color: #999;
  _background: #fcfcfc;
  _border: solid #ddd;
  _border-width: 1px 1px 0;
  _border-radius: 5px 5px 0 0;
  /* Reset %active-widget-tab */
  padding-bottom: 0;
  bottom: auto;
  line-height: 67px;
}
.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
  margin: 0;
border-top: 0;
color: #ccc;
background: none;
width: 291px;
margin: -11px 0px 0px 0px;
}

.widget-tab + .widget-tab {
  margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
  _bottom: -1px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 34px;
  font-weight: bold;
  color: #555;
  _background: white;
  border-top: 0;
margin: -15px 0px 0px 0px;
}
.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
margin: 0 -1px;
/* border-top: 4px solid #4cc8f1; */
color: #fff;
background-image: url('images/ABOUT-bg-tab.png');
height: 57px;
width: 309px;
padding: 20px 0px 0px 0px;
font-family: 'Myriad Pro';
}

/* Deactivate the default tab when a preceding tab is activated. */
.widget-tab-link {
display: block;
/* min-width: 60px; */
/* padding: 0 15px; */
color: inherit;
text-align: center;
text-decoration: none;
/* border-radius: 4px 4px 0 0; */
}

.widget-list {
  display: none;
  padding-top: 50px;
  /* The last list is activated (visible) by default. */
}
.widget-list > li + li {
  border-top: 1px solid #e8e8e8;
}
.widget-list:last-of-type {
  display: block;
}
.widget-list:target {
  display: block;
  /* Hide the default list when another is activated. */
  /* First list activates the first tab, second list activates the second tab, etc. */
}
.widget-list:target ~ .widget-list {
  display: none;
}

.widget-list-link {
  display: block;
  line-height: 18px;
  padding: 10px 12px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.widget-list-link:hover {
  background: #f7f7f7;
}
li:last-child > .widget-list-link {
  border-radius: 0 0 3px 3px;
}
.widget-list-link > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 2px 12px 0 0;
}
.widget-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
/*#designers
{
background-image:url('images/ABOUT-HVDY.png');
background-repeat:no-repeat;
}

#developers
{
background-image:url('images/PRODUCT-GALLERY-sanpham.png');
background-repeat:no-repeat;
}*/
/* End tab*/

.main-left-about
{
width: 608px;
/* background: #ccc; */
float: left;
margin: 168px 0px 0px 33px;
height: 447px;
background-image: url('images/ABOUT_bg_tab.png');
background-repeat: no-repeat;
}
.main-left-about
{
width: 608px;
/* background: #ccc; */
float: left;
margin: 168px 0px 0px 33px;
height: 447px;
background-image: url('images/ABOUT_bg_tab.png');
background-repeat: no-repeat;
}
.widget-list-sanpham
{
	padding:40px 0px 0px 0px;
	height: 395px;
}
.widget-list-sanpham-left
{
width: 185px;
height: auto;
float: left;
margin: -51px 0px 0px -20px;
position: absolute;
z-index: 999;

}
.widget-list-sanpham-left-333
{
width: 185px;
height: auto;
float: left;
_margin: -51px 0px 0px -20px;
position: absolute;
z-index: 999;

}
.widget-list-sanpham-left-222
{
width: 185px;
height: auto;
float: left;
_margin: -51px 0px 0px -20px;
position: absolute;
z-index: 999;

}
.widget-list-sanpham-right
{
width: 377px;
height: auto;
float: right;
margin: 0px 0px 51px 0px;

}
.widget-list-sanpham-right-222
{
_width: 377px;
height: auto;
float: right;
margin: 0px 0px 51px 0px;

}
.title-about
{
font-size: 19px;
color: #fff;
padding: 21px 4px 0px 0px;
text-align: center;
font-family: myriadpro;
/* text-shadow: 1px 1px #ddd; */
}
.content-about
{
font-size: 14px;
color: #fff;
padding: 23px 0px 0px 0px;
text-align: center;
width: 362px;
}
.content-about-222
{
font-size: 14px;
color: #fff;
padding: 23px 0px 0px 0px;
text-align: center;
_width: 362px;
}
img.buttom-about{
margin: 66px 0px 0px 45px;
padding: 0px 0px 0px 0px;
width: 257px;
height: 57px;
}
a img:hover
{
opacity:0.7;
}

/*End pages about*/


/*Start video*/
.title
{
font-size: 25px;
color: #fff;
margin: 70px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-shadow: 1px 1px #ddd;
text-align: center;
}
.view
{
margin:50px 0px 0px 25px;
padding:0px 0px 0px 0px;
}
.view ul li
{
	height:120px;
	width:175px;
	background:#000;
	float:left;
	margin:0px 15px 0px 0px;
}
.view ul li p 
{
margin: 128px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size: 17px;
color: #fff;
text-align: center;
font-family:'Myriad Pro';
}
.view ul li p a
{
margin: 118px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size: 17px;
color: #fff;
text-align: center;
font-family:'Myriad Pro';
text-decoration:none;
}
.view ul li p a:hover
{
color:#ccc;
}
img.buttom-video{
margin: 86px 0px 0px 175px;
padding: 0px 0px 0px 0px;
width: 257px;
height: 57px;
}
a img:hover
{
opacity:0.7;
}

/*End video*/


/*End excell*/
.main-left-excell
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('images/EXCELLENCE-bg.png');
background-repeat: no-repeat;
}
/*----------buttom----------*/
.button-excell
{
background-image: url('images/EXCELLENCE-thuthach.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 18px 0px 0px 5px;
text-align: center;
height: 43px;
width: 192px;
margin: 436px 0px 0px 0px;
}
.button-excell:hover
{
opacity:0.7;
}
.button-excell a
{
color: #fff;
margin: 4px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'Myriad Pro';
font-size: 16px;
}
.button-excell-chiase
{
background-image: url('images/EXCELLENCE-chiase.png');
width: 137px;
height: 38px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
/* height: 43px; */
width: 192px;
margin: -56px 0px 0px 210px;
}
.button-excell-chiase:hover
{
opacity:0.7;
}
.button-excell-chiase a
{
color: #fff;
margin: 0px 0px 0px -91px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'Myriad Pro';
font-size: 16px;
}

/*-------------------*/
.button-excell-in
{
background-image: url('images/EXCELLENCE-chiase.png');
width: 137px;
height: 38px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
/* height: 43px; */
width: 192px;
margin: -51px 0px 0px 341px;
}
.button-excell-in:hover
{
opacity:0.7;
}
.button-excell-in a
{
color: #fff;
margin: 0px 0px 0px -91px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'Myriad Pro';
font-size: 16px;
}

/*End excell*/
/*Start expass*/
.main-left-excell-pass
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('images/Result1_PASS.png');
background-repeat: no-repeat;
}
/*End expass*/
/*Start expass 2*/
.main-left-excell-pass-2
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('images/Result-2.png');
background-repeat: no-repeat;
}
/*End expass -2*/
/*---------------------------------------------------------*/



/*-------################################-------*/


/*Start about*/


@font-face {
 font-family: 'myriadprolight';
    src: url('fonts/MyriadPro-LightCond.eot');
    src: url('fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-LightCond.ttf') format('truetype'),
         url('fonts/MyriadPro-LightCond.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadpro';
    src: url('fonts/myriadCondensed.eot');
    src: url('fonts/myriadCondensed.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadCondensed.ttf') format('truetype'),
         url('fonts/myriadCondensed.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;	
	overflow: hidden;
}
a {
	outline: none;
	color: #fff;
	text-decoration: none;
}
img, ul, li {
	border: none;
	padding: 0;
	margin: 0;
}
.container {
	width: 810px;
	height: 650px;
	overflow: hidden;
	margin: 0 auto;
	background: url('images/bg.jpg') no-repeat;
}
.header {
	position: relative;
	width: 100%;
	height: 265px;
}
.header .logo {
	width: 279px;
	height: 265px;
	position: absolute;
	top: 0;
	left: 0;
}
.header .banner {
	width: 570px;
	height: 170px;
	background: url('images/banner.png') no-repeat;
	position: absolute;
	left: 140px;
	top: 0;
}
.header .hvdy {
	width: 145px;
	height: 145px;
	position: absolute;
	top: 17px;
	right: 14px;
}
.main {
	position: relative;
	width: 100%;
	top: -100px;
	float: left;
}
.tabs {
	float: left;
	margin-top: 0;
	margin-left: 25px;
	width: 627px;
	height: 485px;
	position: relative;
	background: url('images/tables.png') no-repeat;
}
.tabs ul {
	padding-left: 5px;
	overflow: hidden;
	height: 82px;
}
.tabs ul li {
	list-style: none;
	width: 306px;
	height: 77px;
	line-height: 77px;
	float: left;
	background: url('images/tabs-inactive.png') no-repeat;
	position: relative;
	top: 5px;	
	text-align: center;
	
}
.tabs ul li a {
	font-family: myriadpro;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	width: 144px;
	display: inline-block;
	height: 75px;
	position: relative;
	z-index: 99;
}
.tabs ul li.ui-state-active a {
	background: url('images/tabs-active.png') 0px 15px no-repeat;
}
.tabs ul li:first-child + li {
	background-position: -298px 0px;
	width: 295px;
}
.tabs ul li.ui-state-active {
	background: none;
}
.tabs-item {
	margin: 27px auto 0;
	width: 548px;
	overflow: hidden;
}
.tabs-item .box {
	float: left;
	width: 25%;
	height: 122px;
	font-family: myriadpro;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.box a span {
	margin-top: -12px;
	float: left;
	width: 100%;
}
.menu {
	float: right;
	margin: 0;
	width: 156px;
	position: relative;
}
.menu ul {
	float: right;
	width: 140px;
	margin-top: 65px;
}
.menu ul li {
	list-style: none;
	background: url('images/sprite.png') 0px -63px no-repeat;
	width: 120px;
	height: 74px;
	margin-bottom: 15px;
	text-align: center;
	font-family: myriadpro;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 10px;
}
.menu ul li:hover
{

	background: url('images/ABOUT-hover.png') 2px 1px no-repeat;
	width: 120px;
	height: 74px;
	margin-bottom: 15px;
	text-align: center;
	font-family: myriadpro;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 10px;
}
.menu ul li a {
	display: block;
	padding-top: 7px;
}
.menu .bonus {
	position: relative;
	text-align: left;
	padding-left: 70px;
	width: 60px;
}
.menu .bonus img {
	position: absolute;
	left: -25px;
	top: -17px;
}
.share-face {
	float: left;
	width: 115px;
	height: 43px;
	margin: 10px 0 0 17px;
	background: url('images/sprite.png') 0px -138px no-repeat;
}
.btn-thty {
	background: url('images/sprite.png') 0px -4px no-repeat;
	font-family: myriadpro;
	font-size: 28px;
	margin: 15px auto 0;
	width: 260px;
	display: block;
	height: 60px;
	line-height: 50px;
	text-align: center;
}
.ui-widget-overlay {
	background: #000 url('images/overlay.png') top left;
	opacity: .3;
	filter: Alpha(Opacity=30);
	/* support: IE8; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-dialog {
	z-index: 101;
	width: 510px!important;
	padding-top: 10px;
	outline: none;
	border: none;
}
#product-detail {
	width: 495px!important;
	border: solid 2px #ac5d6b;
	height: 290px!important;
	margin-top: 0px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: url('images/bg-popup.png');
	outline: none;
}
#product-detail:focus {
	outline: none;
}
.ui-dialog-title {
	display: none;
}
.ui-dialog-titlebar-close {	
	float: right;
	margin-top: -11px;
	border: none;
	outline: none;
	margin-right: 0;
	background: none;
}
.ui-dialog-titlebar-close span.ui-button-text{
	text-indent: 9999px;
	background: url('images/sprite.png') -372px -473px no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	cursor: pointer;
	position: relative;
	z-index: 9;
}
.img-product {
	float: left;
	width: 138px;
	margin: 30px 0 0 70px;
}

.info-product {
	float: right;
	width: 220px;
	color: #fff;
	margin-right: 35px;
	padding-top: 50px;
}
.info-product span.title {
	font-family: myriadpro;
	font-size: 22px;
	margin-left: 8px;
}
.info-product ul {
	margin-top: 5px;
}
.info-product ul li {
	padding: 0;
	list-style: none;
}
.info-product-detail p {
	padding: 0;
	margin: 5px 0 0 0;
	font-family: myriadprolight;
}
.icon-girl {
	background: url('images/girl.png') no-repeat;
	position: absolute;
	bottom: 0;
	left: -15px;
	width: 162px;
	height: 449px;
}
.question-form {
	float: right;
	width: 370px;
	margin: 25px 76px 0 0;
	color: #fff;
}
.result {
	float: left;
	width: 357px;
	height: 45px;
	background: url('images/sprite.png') -5px -274px  no-repeat;
	position: relative;
}
.result .tooltip {
	position: absolute;
	top: -80px;
	right: 8px;
	background: url('images/sprite.png') -272px -3px;
	height: 80px;
	width: 121px;
}
.result-line {
	background: url('images/sprite.png') -5px -242px;
	min-width: 150px;
	float: left;
	max-width: 285px;
	height: 27px;
	margin-left: 5px;
	margin-top: 9px;
	border-radius: 5px;
}
.result-line span {
	float: right;
	margin: 3px 10px 0 0;
}
.question {
	font-family: Myriad Pro;
	float: left;
	margin: 10px 0 35px;
	width: 100%;
}
.question-detail {
	float: left;
	width: 100%;
	border-top: dashed 1px #a4d6d3;
	border-bottom: dashed 1px #a4d6d3;
	padding: 10px 0 7px;
	height: 210px;
	font-family: Myriad Pro;
	font-size: 13px;
}

.question-detail p {
	margin: 0;
	float: left;
	width: 315px;
	padding-left: 5px;
}

.question-detail .ic {
	float: left;
	width: 50px;
	height: 44px;
	background: url('images/sprite.png') -347px -372px no-repeat;
	text-align: center;
	padding-top: 6px;
	font-family: myriadpro;
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: -1px 1px 1px #333;
}
.question-detail .ic-yellow {
	background-position: -347px -319px;
}
.continue {
	float: right;
	background: url('images/sprite.png') -200px -185px no-repeat;
	width: 163px;
	height: 48px;
	margin: 10px 20px 0 0;
	font-family: myriadpro;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
}
.form-info {
	width: 405px!important;
	border: solid 3px #e90574;
	height: 250px!important;
	margin-top: 0px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: url('images/bg-popup.png');
	outline: none;
	color: #fff;
	font-family: myriadprolight;	
	position: relative;
}

.form-info h3 {
	margin: 25px 5px 10px;
	display: block;
	text-align: center;
	font-size: 22px;
	font-family: myriadpro;
}
.form-info-point h3 {
	margin-top: 10px;
}
.info-detail {
	border-top: dashed 1px #fff;
	border-bottom: dashed 1px #fff;
	width: 330px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0 10px;
}
.info-detail-col {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.info-detail-col .detail-title {
	float: left;
	width: 75px;
	text-align: right;
	margin-right: 34px;
}
.info-detail-col select {
	width: 70px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fff;
	margin-left: 2px;
	border: none;
}
.info-detail-col input {
	width: 60px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fff;
	border: none;
	padding: 2px 5px;
	width: 208px;
	margin-left: 2px;
}
.complete {
	background: url('images/sprite.png') -3px -185px no-repeat;
	width: 190px;
	height: 48px;
	font-family: myriadpro;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
	float: left;
	clear: both;
	margin: 15px 0 5px 66px;
}
.close-alert {
	background: url('images/sprite.png') -3px -322px no-repeat;
	width: 240px;
	height: 33px;
	font-family: myriadpro;
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
	float: left;
	clear: both;
	margin: 15px 0 5px 45px;
}
.form-info-error p {
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 15px 0 10px;
}
.box-point {
	float: left;
	width: 33%;
	text-align: center;
	margin-top: -10px;
}
.box-point span {
	font-size: 18px;
}
.box-point .icon-point {
	background: url('images/sprite.png') -2px -370px no-repeat;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	line-height: 75px;
	font-size: 20px;
	font-family: myriadpro;
}
.box-point .icon-point-green {
	background-position:  -81px -370px;
}
.message {
	display: block;
	text-align: center;
}
.form-info-point .close-alert {
	margin: 10px 0 0 45px;
}
.form-info-congratulation .info-detail {
	margin-left: 90px;
	width: 295px;
}
.form-info-congratulation .close-alert {
	margin: 10px 0 0 27px;
	position: relative;
	z-index: 9;
}
.congratulation {
	position: absolute;
	top: -98px;
	left: -75px;
}
/*End about*/

/*-------################################-------*/




/*----------------------------------------------------*/
/*Start border*/
.table-top
{
width: 303px;
_padding: 10px 5px;
color: #fff;
margin: 10px 5px;
font-family: myriadpro;
}
.border-top-tr
{
height: 26px;
background-image: url('images/OP-FINAL-BODER-NGANG.png');
background-repeat: repeat-x;
/* background-attachment: fixed; */
background-position: bottom;
padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
}
.border-top-td-stt
{
_border-right:1px solid #000;
width:20px;
text-align:center;
height: 26px;
background-image: url('images/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;

}

.border-top-td-stt-bg
{
   background-image: url("images/TOP-FINAL-sao-vang.png");
    background-repeat: no-repeat;
    height: 33px;
    margin: 0;
    padding: 0 14px 0 0;
    text-align: center;
}
.border-top-td-ten
{
_border-right:1px solid #000;
width:50px;
text-align:center;
height: 26px;
background-image: url('images/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
}
.border-top-td-diem
{
_border-right:1px solid #000;
width:50px;
text-align:center;
height: 26px;
background-image: url('images/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
}
.button-danh-sach-giai
{
background-image: url('images/TOP-DAILYthanggiai.png');
width: 153px;
height: 28px;
background-repeat: no-repeat;
padding: 16px 0px 0px 5px;
text-align: center;
margin: 14px 0px 0px 39px;
}
/*End border*/

/*Start pages*/
.finaltop-10-thanghoa
{
margin: 35px 0px 0px 0px;
}
.title-about-1
{
color:#fff;
text-align:center;
width:235px;
}



.widget-list-sanpham-left-1
{
_width: 322px;
height: auto;
float: left;
margin: 4px 0px 0px 1px;
position: absolute;
z-index: 999;
_background: #ccc;

}

.scrollbar-1
{
/* margin-left: 30px; */
height: 203px;
width: 415px;
_background: #F5F5F5;
overflow-y: scroll;
/* margin-bottom: 25px; */
padding: 20px 81px;
text-align: center;
}

.force-overflow-1
{
	min-height: 200px;
}


.btn-thty-11 {
background: url('images/sprite.png') 0px -4px no-repeat;
font-family: myriadpro;
font-size: 28px;
/* margin: -8px auto 0; */
width: 260px;
display: block;
height: 60px;
line-height: 50px;
text-align: center;
margin: 21px 0px 0px 154px;
}


.title-about-11
{
font-size: 19px;
color: #fff;
padding: 1px 4px 23px 0px;
text-align: center;
font-family: myriadpro;
/* text-shadow: 1px 1px #ddd; */
margin: -19px 0px 0px 0px;
}
.title-6-2-the
{
font-size:16px;
color:#fff;
text-align: justify;
}
/*End pages*/

/*----------------------------------------------------*/
/*Start scrollbar*/

.scrollbar
{
	/*margin-left: 30px; */
	float: left;
	height: 303px;
	width: 322px;
	_background: #F5F5F5;
	overflow-y: scroll;
	/* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}




/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	_background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	_background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	_background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
/*End scrollbar*/
.buttom-actives-111 {
background: url('images/buttom-active.png') 0px 0px no-repeat !important;
font-family: myriadpro;
font-size: 28px;
/* margin: -8px auto 0; */
width: 260px;
display: block;
height: 70px;
line-height: 20px;
text-align: center;
margin: 1px 0px 0px 0px;
}

