
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/myriadCondensed.eot');
    src: url('../fonts/myriadCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadCondensed.woff') format('woff'),
         url('../fonts/myriadCondensed.ttf') format('truetype'),
         url('../fonts/myriadCondensed.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/MyriadPro-Cond.eot');
    src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadCondensed.ttf') format('truetype'),
         url('../fonts/myriadCondensed.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
 font-family: 'myriadprolight';
    src: url('../fonts/MyriadPro-LightCond.eot');
    src: url('../fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-LightCond.otf') format('truetype'),
         url('../fonts/MyriadPro-LightCond.svg#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/MyriadPro-Cond.otf');
    src: url('../fonts/MyriadPro-Cond?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Cond.otf') format('truetype'),
         url('../fonts/MyriadPro-Cond.otf#AlegreyaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	line-height: 1.3;
  font-family: myriadpro;
}
ol, ul {
	list-style: none;
}
.scrollbar-222 ol{
  list-style: decimal;
}
.scrollbar-222 ul{
  list-style: circle;
  padding-left: 20px;
}
.scrollbar-222 ul li{
  width: 100%!important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong,b{
  font-weight: bold;
}

/*Start pages introl*/
#intro
{
width:810px;
height:650px;
margin:auto;
_background-color:#333;
background-image:url('../img/introl.png');
background-repeat:no-repeat;
}
p.click-buttom 
{
_background-image: url('../img/bottom-introl.png');
background-repeat: no-repeat;
height: 154px;
width: 219px;
margin: 0px 0px 0px 323px;
padding: 39px 0px 0px 0px;
}
p.click-buttom a img:hover
{
opacity:0.7;
}
/*End pages introl*/

/*Start pages home*/
#main
{
width:810px;
height:650px;
margin:auto;
_background-color:#333;
background-image:url('../img/HOME.png');
background-repeat:no-repeat;
}
.over-heart{
  width:810px;
height:650px;
background-image:url('../img/over-heart.gif');
background-repeat:no-repeat;
}
.main-right
{
width: 137px;
_background: #ccc;
float: right;
margin: 215px 0px 0px 0px;
}

.main-right-111
{
width: 137px;
_background: #ccc;
float: right;
margin: 164px 0px 0px 0px;
}
.main-left
{
width: 328px;
/* background: #ccc; */
float: left;
margin: -70px 0px 0px 318px;
}
.main-prize {
  width: 328px;
  float: left;
  margin: 10px 0px 0px 360px;
}
.button-1
{
background-image: url('../img/home-butom.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 10px 0px 0px 5px;
text-align: center;
}
.button-1:hover
{
background-image: url('../img/ABOUT-hover.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 10px 0px 0px 5px;
text-align: center;
}
.button-1 a
{
color: #EAE6E6;
text-decoration: none;
/*font-family: 'myriadpro';*/
font-size: 17px;
text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
}
.button-tranhtai
{
width:338px;
height:104px;
margin:0px 0px 0px -0.5px;
padding:0px 0px 0px 0px;
background-image: url('../img/home-tranhtai.gif');
}
.button-tranhtai:hover{
  background-image: url('../img/home-tranhtai-hover.gif');
}
.button-tranhtai:active{
  background-image: url('../img/home-tranhtai-active.gif');
  opacity: 1;
}
.button-prize
{
width:327px;
height:104px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}

.button-prize img:hover
{
  opacity:1;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
.facebook
{
width:111px;
height:47px;
margin: 122px 0px 0px;
padding:0px 0px 0px 0px;
}
/*End pages home*/
#about
{
width:810px;
height:650px;
margin:auto;
position: relative;
}
.button-gt
{
_background-image: url('../img/ABOUTgt.png');
width: 159px;
height: 85px;
background-repeat: no-repeat;
padding: 0px 0px 0px 1px;
text-align: center;
margin: -6px 0px 14px -23px;
}
.facebook-about
{
width: 111px;
height: 47px;
margin: 28px 0px 0px;
padding: 0px 0px 0px 0px;
}

/*tab*/
/* Tab Content - menucool.com */

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}

.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}


.widget {
position: relative;
margin: 6px auto;
width: 602px;
/* background: white; */
/* border: 1px solid #ccc; */
/* border-radius: 4px; */
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
/* margin: 0px -5px 0px 0px; */
}

.widget-tabs {
position: absolute;
top: 0;
left: 0;
right: 0;
padding: 9px 0px 0px 0px;
text-align: left;
  /* Make the last tab in the DOM the left-most tab on the screen.
     That way we can activate it by default and still be able to
     deactivate it later using the ~ selector. */
  _direction: rtl;
  _background: #f5f5f5;
  _border-bottom: 1px solid #ddd;
  _border-radius: 3px 3px 0 0;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  line-height: 36px;
  font-weight: normal;
  color: #999;
  _background: #fcfcfc;
  _border: solid #ddd;
  _border-width: 1px 1px 0;
  _border-radius: 5px 5px 0 0;
  /* Reset %active-widget-tab */
  padding-bottom: 0;
  bottom: auto;
  line-height: 67px;
}
.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
  margin: 0;
border-top: 0;
color: #ccc;
background: none;
width: 291px;
margin: -11px 0px 0px 0px;
}

.widget-tab + .widget-tab {
  margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
  _bottom: -1px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 34px;
  font-weight: bold;
  color: #555;
  _background: white;
  border-top: 0;
margin: -15px 0px 0px 0px;
}
.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
margin: 0 -1px;
/* border-top: 4px solid #4cc8f1; */
color: #fff;
background-image: url('../img/ABOUT-bg-tab.png');
height: 57px;
width: 309px;
padding: 20px 0px 0px 0px;
font-family: 'myriadpro';
}

/* Deactivate the default tab when a preceding tab is activated. */
.widget-tab-link {
display: block;
/* min-width: 60px; */
/* padding: 0 15px; */
color: inherit;
text-align: center;
text-decoration: none;
/* border-radius: 4px 4px 0 0; */
}

.widget-list {
  display: none;
  padding-top: 50px;
  /* The last list is activated (visible) by default. */
}
.widget-list > li + li {
  border-top: 1px solid #e8e8e8;
}
.widget-list:last-of-type {
  display: block;
}
.widget-list:target {
  display: block;
  /* Hide the default list when another is activated. */
  /* First list activates the first tab, second list activates the second tab, etc. */
}
.widget-list:target ~ .widget-list {
  display: none;
}

.widget-list-link {
  display: block;
  line-height: 18px;
  padding: 10px 12px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.widget-list-link:hover {
  background: #f7f7f7;
}
li:last-child > .widget-list-link {
  border-radius: 0 0 3px 3px;
}
.widget-list-link > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 2px 12px 0 0;
}
.widget-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
/*#designers
{
background-image:url('../img/ABOUT-HVDY.png');
background-repeat:no-repeat;
}

#developers
{
background-image:url('../img/PRODUCT-GALLERY-sanpham.png');
background-repeat:no-repeat;
}*/
/* End tab*/
.main-left-about
{
width: 608px;
/* background: #ccc; */
float: left;
margin: -100px 0px 0px 33px;
height: 447px;
background-image: url('../img/ABOUT_bg_tab.png');
background-repeat: no-repeat;
}
.widget-list-sanpham
{
	padding:40px 0px 0px 0px;
	height: 395px;
}
.widget-list-sanpham-left
{
width: 185px;
height: auto;
float: left;
margin: -60px 0px 0px 5px;
position: absolute;
z-index: 999;

}
.widget-list-sanpham-left-333
{
width: 185px;
height: auto;
float: left;
_margin: -51px 0px 0px -20px;
position: absolute;
z-index: 999;

}
.widget-list-sanpham-left-222
{
width: 185px;
height: auto;
float: left;
_margin: -51px 0px 0px -20px;
_position: absolute;
_z-index: 999;

}
.widget-list-sanpham-right
{
width: 377px;
height: auto;
float: right;
margin: 0px 60px 51px 0px;
}
.widget-list-sanpham-right-333
{
_width: 377px;
height: auto;
float: right;
margin: 0px 0px 51px 0px;
}
.widget-list-sanpham-right-222
{
_width: 377px;
height: auto;
float: right;
margin: 0px 0px 51px 0px;

}
.title-about
{
font-size: 30px;
color: #fff;
padding: 2px 4px 0px 0px;
text-align: center;
font-family: myriadpro;
/* text-shadow: 1px 1px #ddd; */
}

.title-about-22222
{
font-size: 21px;
color: #fff;
padding: 21px 4px 19px 0px;
text-align: center;
font-family: myriadpro;
/* text-shadow: 1px 1px #ddd; */
}
.content-about
{
font-size: 14px;
color: #fff;
padding: 23px 0px 0px 0px;
text-align: center;
width: 362px;
}.content-about-333
{
font-size: 14px;
color: #fff;
padding: 23px 0px 0px 0px;
text-align: center;
_width: 362px;
}
.content-about-222
{
font-size: 14px;
color: #fff;
padding: 23px 0px 0px 0px;
text-align: center;
_width: 362px;
}
img.buttom-about{
margin: 66px 0px 0px 45px;
padding: 0px 0px 0px 0px;
width: 257px;
height: 57px;
}
a img:hover
{
opacity:0.7;
}

/*End pages about*/


/*Start video*/
.title
{
font-size: 26px;
color: #fff;
margin: 70px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-shadow: 1px 1px #777;
text-align: center;
}
.view
{
margin:50px 0px 0px 25px;
padding:0px 0px 0px 0px;
}
.view ul li
{
	height:120px;
	width:175px;
	background:#000;
	float:left;
	margin:0px 15px 0px 0px;
  cursor: pointer;
}
.view ul li p 
{
/*margin: 128px 0px 0px 0px;*/
padding: 0px 0px 0px 0px;
font-size: 17px;
color: #fff;
text-align: center;
font-family:'myriadpro';
}
.view ul li img {
  height: 120px;
  width: 175px;
  opacity: 0.8;
}
.view ul li img:hover {
  opacity: 1;
}
.view ul li p a
{
margin: 118px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size: 20px;
color: #fff;
text-align: center;
font-family:'myriadpro';
text-decoration:none;
}
.view ul li p a:hover
{
color:greenyellow;
opacity: 1;
}
.buttom-video{
position: absolute;
margin: 200px 0px 0px 175px;
padding: 0px;
width: 257px;
height: 57px;
background-image: url('http://lusfacebookapp.silverlining.vn//assets/img/VIDEOS-button.png');
}
.buttom-video:hover{
  background-image: url('../img/VIDEOS-button-hover.png');
  opacity: 1;
}
.buttom-video:active{
  background-image: url('../img/VIDEOS-button-active.png');
  opacity: 1;
}

a img:hover
{
	opacity:0.7;
}
.img-ligth:hover {-webkit-filter: brightness(120%); }
/*End video*/


/*End excell*/
.main-left-excell
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('../img/EXCELLENCE-bg.png');
background-repeat: no-repeat;
}
/*----------buttom----------*/
.button-excell
{
background-image: url('../img/EXCELLENCE-thuthach.png');
width: 137px;
height: 71px;
background-repeat: no-repeat;
padding: 18px 0px 0px 5px;
text-align: center;
height: 43px;
width: 192px;
margin: 0px 0px 0px 0px;
}
.button-excell:hover
{
opacity:0.7;
}
.button-excell a
{
color: #fff;
margin: 4px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'myriadpro';
font-size: 13px;
}
.button-excell-chiase
{
background-image: url('../img/EXCELLENCE-chiase.png');
width: 137px;
height: 38px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
/* height: 43px; */
width: 192px;
margin: -56px 0px 0px 210px;
}
.button-excell-chiase:hover
{
opacity:0.7;
}
.button-excell-chiase a
{
color: #fff;
margin: 0px 0px 0px -91px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'myriadpro';
font-size: 16px;
}

/*-------------------*/
.button-excell-in
{
background-image: url('../img/EXCELLENCE-chiase.png');
width: 137px;
height: 38px;
background-repeat: no-repeat;
padding: 13px 0px 0px 5px;
text-align: center;
/* height: 43px; */
width: 192px;
margin: -51px 0px 0px 341px;
}
.button-excell-in:hover
{
opacity:0.7;
}
.button-excell-in a
{
color: #fff;
margin: 0px 0px 0px -91px;
padding: 0px 0px 0px 0px;
text-decoration: none;
font-family: 'myriadpro';
font-size: 16px;
}

/*End excell*/
/*Start expass*/
.main-left-excell-pass
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('../img/Result1_PASS.png');
background-repeat: no-repeat;
}
/*End expass*/
/*Start expass 2*/
.main-left-excell-pass-2
{
width: 458px;
/* background: #ccc; */
float: left;
margin: 152px 0px 0px 118px;
height: 447px;
background-image: url('../img/Result-2.png');
background-repeat: no-repeat;
}
/*End expass -2*/
/*---------------------------------------------------------*/



/*-------################################-------*/


/*Start about*/



body {
	margin: 0;
	padding: 0;	
	overflow: hidden;
}
a {
	outline: none;
	color: #fff;
	text-decoration: none;
}
img, ul, li {
	border: none;
	padding: 0;
	margin: 0;
}
.container {
	width: 810px;
	height: 650px;
	overflow: hidden;
	margin: 0 auto;
	background: url('../img/bg.jpg') no-repeat;
}
.header {
	position: relative;
	width: 100%;
	height: 265px;
}
#logo-row{
  position: absolute;
}
.logo{
  position: relative;
  float: left;
}
.logo img:hover{
  opacity: 1;
}
.logo-hvdy img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
.logo-hvdy img:hover{
     -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
     opacity: 1;
}
.header .banner {
	width: 570px;
	height: 170px;
	background: url('../img/banner.gif') no-repeat;
	position: absolute;
	left: 140px;
	top: 0;
}
.header .logo-hvdy {
	width: 145px;
	height: 145px;
	position: absolute;
	top: 17px;
	right: 18px;
}
.main {
	position: relative;
	width: 100%;
	top: -100px;
	float: left;
}
.tabs {
	float: left;
	margin-top: 0;
	margin-left: 25px;
	width: 627px;
	height: 485px;
	position: relative;
	background: url('../img/tables.png') no-repeat;
}
.tabs > ul {
	padding-left: 5px;
	overflow: hidden;
	height: 82px;
}
.tabs > ul li {
	list-style: none;
	width: 306px;
	height: 77px;
	line-height: 77px;
	float: left;
	background: url('../img/tabs-inactive.png') no-repeat;
	position: relative;
	top: 5px;	
	text-align: center;
	
}
.tabs > ul li a {
	font-family: myriadpro;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	width: 244px;
	display: inline-block;
	height: 75px;
	position: relative;
	z-index: 99;
}
.tabs ul li.ui-state-active a {
	background: url('../img/tabs-active.png') 0px 8px no-repeat;
}
.tabs ul li:first-child + li {
	background-position: -298px 0px;
	width: 295px;
}
.tabs ul li.ui-state-active {
	background: none;
}
.tabs-item {
	margin: 27px 20px 0;
	width: 588px;
	overflow: hidden;
}
.tabs-item .box {
	float: left;
	width: 25%;
	height: 122px;
	font-family: myriadpro;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.box a span {
	margin-top: -12px;
	float: left;
	width: 100%;
}
.menu {
	float: right;
	margin: 0;
	width: 156px;
	position: relative;
}
.menu ul {
	float: right;
	width: 140px;
	margin-top: 65px;
}
.menu ul li {
	list-style: none;
	background: url('../img/sprite.png') 0px -63px no-repeat;
	_width: 120px;
	height: 74px;
	margin-bottom: 15px;
	text-align: center;
	font-family: myriadpro;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 10px;
}
.menu ul li:hover
{

	background: url('../img/ABOUT-hover.png') 2px 1px no-repeat;
	width: 120px;
	height: 74px;
	margin-bottom: 15px;
	text-align: center;
	font-family: myriadpro;
	font-size: 18px;
	text-transform: uppercase;
	_padding: 0 10px;
}
.menu ul li:active{

  background: url('../img/button-onclick.png') 2px 1px no-repeat;
  width: 120px;
  height: 74px;
  margin-bottom: 15px;
  text-align: center;
  font-family: myriadpro;
  font-size: 18px;
  text-transform: uppercase;
  _padding: 0 10px;
}
.menu ul li a {
	display: block;
	padding-top: 12px;
  color: #EAE6E6;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
}
.menu .bonus {
	position: relative;
	text-align: left;
	padding-left: 70px;
	_width: 60px;
}
.menu ul li.bonus  a
{
padding: 9px 105px 0px 0px;
text-align: center;
}
.menu .bonus img {
	position: absolute;
	left: -25px;
	top: -17px;
}
.share-face {
	float: left;
	width: 115px;
	height: 43px;
	margin: 10px 0 0 17px;
	background: url('../img/sprite.png') 0px -138px no-repeat;
}
.share-face:hover {
  margin-left:19px;
  background: url('../img/facebook-hover.png') no-repeat;
}
.share-face:active {
  margin-left:19px;
  background: url('../img/facebook-active.png') no-repeat;
}
.btn-thty {
	
	font-family: myriadpro;
	font-size: 28px;
	margin: 15px auto 0;
	width:258px;
	display: block;
	height: 57px;
	line-height: 50px;
	text-align: center;
  background-image: url('http://lusfacebookapp.silverlining.vn//assets/img/VIDEOS-button.png');
}
.btn-thty:hover{
  background-image: url('../img/VIDEOS-button-hover.png');
  opacity: 1;
}
.btn-thty:active{
  background-image: url('../img/VIDEOS-button-active.png');
  opacity: 1;
}
.btn-thty-thele {
	background: url('../img/sprite.png') 0px -4px no-repeat;
	font-family: myriadpro;
	font-size: 28px;
	margin: -15px auto 0;
	width: 260px;
	display: block;
	height: 60px;
	line-height: 50px;
	text-align: center;
}
.ui-widget-overlay {
	background: #000 url('../img/overlay.png') top left;
	opacity: .3;
	filter: Alpha(Opacity=30);
	/* support: IE8; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-dialog {
	z-index: 101;
	width: 510px!important;
	padding-top: 10px;
	outline: none;
	border: none;
}
#product-detail {
	width: 495px!important;
	border: solid 2px #ac5d6b;
	height: 290px!important;
	margin-top: 0px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: url('../img/bg-popup.png');
	outline: none;
}
#product-detail:focus {
	outline: none;
}
#product-detail-1111 {
width: 378px!important;
/* border: solid 2px #ac5d6b; */
height: 321px!important;
margin-top: 0px;
border-radius: 12px;
/* -webkit-border-radius: 12px; */
-moz-border-radius: 12px;
background: url('../img/5_1_TOP-DAILY-popUp.png');
outline: none;
margin: -3px 0px 0px 47px;
padding: 1px 35px 7px 35px;
}
#product-detail-1111:focus {
	outline: none;
}
.ui-dialog-title {
	display: none;
}
.ui-dialog-titlebar-close {	
	float: right;
	margin-top: -11px;
	border: none;
	outline: none;
	margin-right: 0;
	background: none;
}
.ui-dialog-titlebar-close span.ui-button-text{
	text-indent: 9999px;
	background: url('../img/sprite.png') -372px -473px no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	cursor: pointer;
	position: relative;
	z-index: 9;
}
.img-product-small img{
  float: left;
  height: 114px;
  margin: 0px 0 -10px 40px;
}

@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}

.img-product-small img:hover
{
  opacity:1;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
.img-product {
	float: left;
	width: 180px;
	margin: 50px 0 0 60px;
}

.info-product {
	float: right;
	width: 220px;
	color: #fff;
	margin-right: 35px;
	padding-top: 50px;
}
.info-product span.title {
	font-family: myriadpro;
	font-size: 22px;
	margin-left: 8px;
}
.info-product ul {
	margin-top: 5px;
}
.info-product ul li {
	padding: 0;
	list-style: none;
}
.info-product-detail p {
	padding: 0;
	margin: 5px 0 0 0;
	font-family: myriadpro;
}
.icon-girl {
	background: url('../img/girl.png') no-repeat;
	position: absolute;
	bottom: 0;
	left: -15px;
	width: 162px;
	height: 449px;
}
.question-form {
	float: right;
	width: 370px;
	margin: 25px 76px 0 0;
	color: #fff;
}
.result {
	float: left;
	width: 357px;
	height: 45px;
	background: url('../img/sprite.png') -5px -274px  no-repeat;
	position: relative;
}
.result .tooltip {
	position: absolute;
	top: -80px;
	right: 8px;
	background: url('../img/sprite.png') -272px -3px;
	height: 80px;
	width: 121px;
}
.result-line {
	/*background: url('../img/sprite.png') -5px -242px;*/
	/*min-width: 150px;*/
	float: left;
	max-width: 80%;
	height: 27px;
	margin-left: 5px;
	margin-top: 9px;
	border-radius: 5px;
}
.result-line span {
	float: right;
	margin: 3px 10px 0 0;
}
.question {
	font-family: 'myriadpro';
	float: left;
	margin: 10px 0 25px;
	width: 100%;
}
.question-detail {
	float: left;
	width: 100%;
	border-top: dashed 1px #a4d6d3;
	border-bottom: dashed 1px #a4d6d3;
	padding: 10px 0 7px;
	height: 210px;
	font-family: 'myriadpro';
	font-size: 13px;
  border-collapse: inherit;
  padding-top: 13px;
}

.question-detail p {
	margin: 0;
	float: left;
	width: 315px;
	padding-left: 5px;
}

.question-detail .ic {
  cursor: pointer;
	float: left;
	width: 50px;
	height: 44px;
	background: url('../img/sprite.png') -347px -372px no-repeat;
	text-align: center;
	padding-top: 6px;
	font-family: myriadpro;
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: -1px 1px 1px #333;
}
.question-detail .ic label:hover{
  cursor: pointer;
}
.question-detail .ic-yellow,.question-detail .ic:hover {
	background-position: -347px -319px;
  cursor: pointer;
}

.continue {
	float: right;
	background: url('../img/sprite.png') -200px -185px no-repeat;
	width: 163px;
	height: 48px;
	margin: 10px 20px 0 0;
	font-family: myriadpro;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
  cursor: pointer;
}
.continue:hover {
  background: url('../img/sprite.png') -168px -370px no-repeat;
}
.continue:active {
  height: 45px;
  margin: 13px 20px 0 0;
}
.form-info {
	width: 405px!important;
	border: solid 3px #e90574;
	height: 250px!important;
	margin-top: 0px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: url('../img/bg-popup.png');
	outline: none;
	color: #fff;
	font-family: myriadpro;	
	position: relative;
}

.form-info h3 {
	margin: 25px 5px 10px;
	display: block;
	text-align: center;
	font-size: 22px;
	font-family: myriadpro;
}
.form-info-point h3 {
	margin-top: 10px;
}
.info-detail {
	border-top: dashed 1px #fff;
	border-bottom: dashed 1px #fff;
	width: 330px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0 0px;
}
.info-detail-col {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.info-detail-col .detail-title {
	float: left;
	width: 75px;
	text-align: right;
	margin-right: 34px;
}
.info-detail-col select {
	width: 67px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fff;
	margin-left: 2px;
	border: none;
}
.info-detail-col input {
	width: 60px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fff;
	border: none;
	padding: 2px 5px;
	width: 208px;
	margin-left: 2px;
}
.complete {
	background: url('../img/sprite.png') -3px -185px no-repeat;
	width: 190px;
	height: 48px;
	font-family: myriadpro;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
	float: left;
	clear: both;
	margin: 15px 0 5px 115px;
  border:none;
}
.close-alert {
	background: url('../img/sprite.png') -3px -322px no-repeat;
	width: 240px;
	height: 33px;
	font-family: myriadpro;
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
	padding-top: 5px;
	text-shadow: -1px 1px 1px #333;
	float: left;
	clear: both;
	margin: 15px 0 5px 45px;
}
.close-alert:hover {
  background: url('../img/sprite.png') -90px -453px no-repeat;
}
.close-alert:active {
  height: 30px;
  margin: 18px 0 5px 45px;
}
.form-info-error p {
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 15px 0 10px;
}
.box-point {
	float: left;
	width: 33%;
	text-align: center;
	margin-top: -10px;
}
.box-point span {
	font-size: 18px;
}
.box-point .icon-point {
	background: url('../img/sprite.png') -2px -370px no-repeat;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	line-height: 75px;
	font-size: 20px;
	font-family: myriadpro;
}
.box-point .icon-point-green {
	background-position:  -81px -370px;
}
.message {
	display: block;
	text-align: center;
}
.form-info-point .close-alert {
	margin: 10px 0 0 45px;
}
.form-info-congratulation .info-detail {
	margin-left: 90px;
	width: 295px;
}
.form-info-congratulation .close-alert {
	margin: 10px 0 0 27px;
	position: relative;
	z-index: 9;
}
.congratulation {
	position: absolute;
	top: -98px;
	left: -75px;
}
/*End about*/

/*-------################################-------*/




/*----------------------------------------------------*/
/*Start border*/
.table-top
{
width: 340px;
_padding: 10px 5px;
color: #fff;
margin: 10px 5px;
font-family: myriadpro;
}
.border-top-tr
{
height: 26px;
background-image: url('../img/OP-FINAL-BODER-NGANG.png');
background-repeat: repeat-x;
/* background-attachment: fixed; */
background-position: bottom;
padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
}
.border-top-td-stt
{
_border-right:1px solid #000;
width:20px;
text-align:center;
height: 26px;
background-image: url('../img/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
vertical-align: -webkit-baseline-middle;
padding-right: 3px;

}

.border-top-td-stt-bg
{
   background-image: url("../img/TOP-FINAL-sao-vang.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 33px;
    margin: 0;
    /*padding: 0 14px 0 0;*/
    text-align: center;
}
.border-top-td-ten
{
_border-right:1px solid #000;
width:100px;
/*text-align:center;*/
height: 26px;
background-image: url('../img/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
vertical-align: -webkit-baseline-middle;

}
.border-top-td-diem
{
_border-right:1px solid #000;
width:20px;
text-align:center;
height: 26px;
background-image: url('../img/TOP-FINAL-BODER-DOC.png');
background-repeat: repeat-y;
/* background-attachment: fixed; */
background-position: right;
_padding: -10px 0px;
/* margin: -4px 0px; */
line-height: 37px;
vertical-align: -webkit-baseline-middle;

}
.button-danh-sach-giai
{
width: 153px;
height: 28px;
background-repeat: no-repeat;
padding: 16px 0px 0px 5px;
text-align: center;
margin: 4px 0px 0px 30px;
background-image: url('../img/TOP-DAILYthanggiai.png');
}
.button-danh-sach-giai:hover{
  background-image: url('../img/TOP-DAILYthanggiai-hover.png');
  opacity: 1;
}
.button-danh-sach-giai:active{
  background-image: url('../img/TOP-DAILYthanggiai-active.png');
  opacity: 1;
}
/*End border*/

/*Start pages*/
.finaltop-10-thanghoa
{
margin: 35px 0px 0px 0px;
}
.finaltop-10
{
margin:0px;
padding:0px;
}

@-webkit-keyframes thumb {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}

.finaltop-10 img:hover
{
  opacity:1;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
.title-about-1
{
color:#fff;
text-align:center;
width:235px;
}



.widget-list-sanpham-left-1
{
_width: 322px;
height: auto;
float: left;
margin: 4px 0px 0px 1px;
position: absolute;
z-index: 999;
_background: #ccc;

}

.scrollbar-1
{
/* margin-left: 30px; */
height: 203px;
width: 415px;
_background: #F5F5F5;
overflow-y: scroll;
/* margin-bottom: 25px; */
padding: 20px 81px;
text-align: center;
}

.scrollbar-222
{
/* margin-left: 30px; */
height: 203px;
width: 448px;
_background: #F5F5F5;
overflow-y: scroll;
/* margin-bottom: 25px; */
padding: 20px 41px;
/*text-align: center;*/
}

.force-overflow-1
{
	min-height: 200px;
}


.btn-thty-11 {
background: url('../img/sprite.png') 0px -4px no-repeat;
font-family: myriadpro;
font-size: 28px;
/* margin: -8px auto 0; */
width: 260px;
display: block;
height: 60px;
line-height: 50px;
text-align: center;
margin: 21px 0px 0px 124px;
}

.btn-thty-111 {
background: url('../img/sprite.png') 0px -4px no-repeat;
font-family: myriadpro;
font-size: 28px;
/* margin: -8px auto 0; */
width: 260px;
display: block;
height: 60px;
line-height: 50px;
text-align: center;
margin: -20px 0px 0px 164px;
}
.title-about-11
{
font-size: 19px;
color: #fff;
padding: 1px 4px 23px 0px;
text-align: center;
font-family: myriadpro;
/* text-shadow: 1px 1px #ddd; */
margin: -19px 0px 0px 0px;
}
.title-6-2-the
{
font-size:16px;
color:#fff;
text-align: justify;
/*word-spacing: -1px;*/
}
/*End pages*/

/*----------------------------------------------------*/
/*Start scrollbar*/

.scrollbar
{
	/*margin-left: 30px; */
	float: left;
	height: 270px;
	width: 375px;
	_background: #F5F5F5;
	overflow-y: scroll;
	/* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 750px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}




/*
 *  STYLE 5
 */

		
#style-5::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #214f4c;
}

#style-5::-webkit-scrollbar
{
	width: 20px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	
	background-image: url('../img/scrollbar.png') ;
  min-height: 90px ;
  max-height: 90px;

}


/*End scrollbar*/
.buttom-actives-111 {
background: url('../img/buttom-active.png') 0px 0px no-repeat !important;
font-family: myriadpro;
font-size: 28px;
/* margin: -8px auto 0; */
/* width: 260px; */
display: block;
height: 70px;
line-height: 22px;
text-align: center;
padding: 5px 0px 0px 0px;
/* margin: 1px 0px 0px 0px; */
}

.progress {
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  font-size: 10px;
  line-height: 10px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar 2s linear infinite;
  -o-animation: progress-bar 2s linear infinite;
  animation: progress-bar 2s linear infinite;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress {
  overflow: hidden;
  height: 21px;
  margin-bottom: 21px;
  background-color: #ecf0f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #e0546c;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.bar-timer{
  margin-top: 8px;
  margin-left: 5px;
  height: 28px;
  max-width: 335px;
  background-color:rgba(255, 255, 255, 0)!important;
}
.time{
  text-align: center;
  margin-top: -45px;
}
.questions{
  display: none;
}
.hidden{
  display: none;
}
.question-detail td{
  vertical-align: middle;
  cursor: pointer;
}
#style-5 p{
  padding-top: 10px;
  text-align: left;
}
.aa {
  text-align: center;
}
.tabs ul li.ui-state-active .hvdy {
  background: url('../img/tab-active-about.png') 84px 3px no-repeat;
}
.tabs ul li.ui-state-active .sanpham {
  background: url('../img/tab-active-about-sanpham.png') 50px 10px no-repeat;
}
.tabs ul li.ui-state-active .tab-giaithuong {
  background: url('../img/tab-active-giaithuong.png') 44px 8px no-repeat;
}
.tabs ul li.ui-state-active .tab-thele {
  background: url('../img/tab-active-thele.png') 78px 8px no-repeat;
}
.tabs ul li.ui-state-active .tab-top5 {
  background: url('../img/tab-active-top5.png') 0px 12px no-repeat;
  width: 284px;
}
.title-tophocvien{
  font-size: 21px;
}
.buttom-actives-111 a{
  padding-top: 13px!important;
}
.certification {
    width: 458px;
    margin: 0;
    padding: 0;
    position: relative;
    height: 432px;
    font-size: 10px;
    font-family: 'myriadpro', Arial, Helvetica, sans-serif;;
}
.excel-cer {
	width: 458px;
	height: 447px;
    background: url("../img/bg_red.jpg")no-repeat top left;
    color: #9E2B32;
    background-position-y: -2px;
}
.cer-logo {
    width: 195px;
    height: 167px;
    position: absolute;
    top: 200px;
    left: 250px;
   background: url("../img/excellent_logo.png")no-repeat top left;
}
.cer-logo11 {
    width: 195px;
    height: 167px;
    position: absolute;
    top: 200px;
    left: 250px;
   background: url("../img/good_logo.png")no-repeat top left;
}

.cer-content {
    width: 430px;
    position: absolute;
    top: 114px;
    right: -160px;
    padding: 5px;
    text-align: left;
}

.cer-note {
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-size: 10px;
}

.cer-image {
    position: absolute;
    bottom: 28px;
    left: 24px;
	left: 70px;
}
.cer-display {  
    font-size: 12px;
    text-align: center;
}
.good-cer {
	width: 458px;
	height: 447px;
    background: url("../img/bg_blue.jpg")no-repeat top left;
    color: #2A2F61;
}
.upper-text {
    text-transform: uppercase;
}

h2.cer-title {
    font-size: 29px;
    font-weight: 500;
    line-height: 1em;
}

.cer-desc {
    font-size: 13px;
}
span.cer-name {
    font-size: 21px;
    font-weight: bold;
}
.circular {
  margin:40px 0px 0px 42px;;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  background-size: 100% 100% !important;
}
.circular_gioi{
  margin:43px 0px 0px 53px;
  width: 65px;
  height: 65px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  background-size: 100% 100% !important;
}
